body{
	background-color: darkseagreen;
}

.clearfix{
	overflow: auto;
	clear: both;
}

#chatLog {

	background-color: white;
	resize: none;
	width: 500px;
	height:200px;
}

#chat {

	width: 500px;
}

#chatInput{
	width:100%;
}

.playarea{

	border: 2px solid black;
	height: 154px;
	width: 154px;
	text-align: center;
}

